﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Noble Notes</title>
</head>
<body>
    <h1>Welcome to Noble Notes!</h1>
    <a href="secure">Enter the "Secure Zone"!</a>
    @foreach (var user in Model)
    {
        <div>@user.Username - @user.Id</div>
    }

    <form method="post">
        <input type="submit" value="post" />
    </form>
</body>
</html>