<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit"
                          publicKeyToken="8d05b1bb7a6fdb6c"
                          culture="neutral"/>
        <bindingRedirect oldVersion="1.9.0.1566"
                         newVersion="1.9.1.1600"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>